@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* shared style */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
header, .banner, .section-parent{
    margin: 2% 7%;
}
.section-parent{
    text-align: center;
    margin-top: 7%;
}
.section-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
.sub-title{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.text-primary{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
/* header style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 3rem;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-family: "Inter", sans-serif, cursive;
}
.Home{
    width: 95px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.menubar{
    display: none;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    gap: 8rem;
    position: relative;
}
.banner-child{
    display: grid;
    gap: 12%;
}
.banner-title{
    font-size: 5rem;
}
.shape{
    font-family: "Great Vibes";
}
.download{
    border: 1px solid rgb(255, 255, 255);
    background: none;
}
.banner-btn{
    display: flex;
    gap: 3%;
}
.circle{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid red;
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 40%;
}
.sticker{
    width: 18%;
    height: 14%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: absolute;
    top: 70%;
    right: 18%;
}
.sticker-2{
    height: 18%;
    top: 32%;
    right: 2%;
}
.sticker-num{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
.sticker-2 .sticker-num{
    font-size: 2.5rem;
}
/* habit style */
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    justify-items: center;
}
.habit-card{
    width: 230px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-card img{
    border-radius: 100px;
}
.habit-card p{
    text-align: center;
}
/* run style */
.run{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 3%;
    margin: 10% 7% 8%;
}
.run img{
    width: 100%;
    border-radius: 20px;
}
/* BMI style */
table {
    width: 120%;
    height: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px 30px;
    text-align: left;
}
tr:hover {
    background-color: gray;
}
.BMI-parent{
    height: 300%;
    background: rgb(34, 34, 34);
    padding: 3% 7% 14%;
}
.BMI-intro{
    width: 60%;
    margin: 5% 20%;
    text-align: justify;
}
.BMI{
    display: flex;
    gap: 15%;
}
.BMI-chart{
    width: 80%;
}
.calculator{
    display: grid;
    gap: 5%;
}
.calculator input{
    width: 100%;
    padding: 18px 40px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}
.input-1{
    display: flex;
    gap: 3%;
}
.input-2{
    width: 86.5%;
}
.calculator button{
    width: 40%;
}
/* trainer style */
.package-container,
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.team-member{
    position: relative;
}
.trainer-parent{
    margin: 5% 7% 10%;
}
.trainer{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    opacity: 0.7;
}
.trainer-name{
    text-align: left;
    position: absolute;
    bottom: 3%;
    left: 10%;
}
/* package style */
.package{
    text-align: center;
    width: 100%;
    padding: 5%;
    background: rgb(40, 40, 40);
    border-radius: 25px;
    box-shadow: 0px 5px 15px 0px rgb(245, 108, 108);
}
/* footer style */
footer{
    background: rgba(255, 255, 255, 0.1);    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    justify-content: space-around;
    margin: 8% 0% 0%;
    padding: 5% 5% 15%;
    position: relative;
}
.footer-div{
    color: white;
    font-size: 32px;
    font-weight: 700;
}
.footer-a{
    display: grid;
    gap: 12%;
}
.footer-a a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);;
}
hr {
    position: absolute;
    width: 90%;
    bottom: 20%;
    left: 5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.right-reserved{
    position: absolute;
    width: 90%;
    bottom: 8%;
    left: 5%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px){
    .navbar{
        display: none;
    }
    .menubar{
        display: block;
        color: white;
        font-size: x-large;
    }
    .banner,
    .BMI,
    footer
    {
        display: block;
    }
    .banner-img{
        width: 100%;
        margin-top: 30%;
    }
    .banner-title{
        font-size: 3rem;
    }
    .sticker{
        width: 62%;
        height: 8%;
        top: 85%;
        left: 3%;
    }
    .sticker-2{
        height: 10%;
        top: 65%;
        left: 40%;
    }
    .sticker-num{
        font-size: 1rem;
    }
    .sticker-2 .sticker-num{
        font-size: 2rem;
    }
    .run{
        height: 600px;
        margin-top: 50%;
        padding: 7%;
    }
    
    .run .btn-primary{
        width: 100%;
    }
    .container,
    .run,
    .team-container,
    .package-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 3%;
        justify-content: space-evenly;
    }
    .BMI-parent{
        padding: 3% 7% 43%;
    }
    .BMI-intro{
        width: 100%;
        margin: 5% 0%;
    }
    .BMI-chart{
        width: 84%;
    }
    .input-2{
        width: 70%;
    }
    .calculator button{
        width: 60%;
    }
    .trainer-parent{
        margin: 10% 7% 15%;
    }
    .package-section{
        margin-top: 100%;
    }
    .package{
        width: 90%;
    }
    footer{
        margin-top: 25%;
        padding: 5% 5% 35%;
    }
    hr{
        bottom: 8%;
    }
    .right-reserved{
        bottom: 2%;
    }
}